{% extends 'base.html' %}
{% block title %}О применяемых технологиях{% endblock %}
{% block content %}
  <div class="row">
    <div class="col-md-3 mb-3 mt-1">
      <div class="card">
        <div class="card-body">
          <ul class="list-group list-group-flush">
            <li class="list-group-item">
              <div class="h3">
                О технологиях
              </div>
            </li>
            <li class="list-group-item">
              <div class="h6 text-muted">
                Python + Django
              </div>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="col-md-9">
      <div class="card-body">
        <div class="card-text">
          <p>В процессе разработки был использован язык программирования Python v3.7,
          фреймворк Django v2.2.6 и язык HTML c CSS стилями для верстки страниц.
          А так же немного удачи и терпения</p>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
