{% extends 'base.html' %}
<title>{% block title %}Записи сообщества {{ group.title }} | Yatube{% endblock %}</title>
{% block header %}Записи сообщества {{ group.title }} | Yatube{% endblock %}
{% block content %}
   <title>Записи сообщества {{ group.title }} | Yatube</title>
     <h1>{{ group.title }}</h1>
       <p>{{ group.description|linebreaksbr }}</p>
         {% for post in page %}
             {% include 'posts/post_item.html' with post=post %}
        {% endfor %}
    {% include 'posts/includes/paginator.html' %}
    {% include 'posts/includes/footer.html' %}
{% endblock %}
