{% include 'base.html' %}
<main role="main" class="container">
  <div class="row">
  {% include 'posts/includes/author_card.html' %}
    <div class="col-md-9">
      <div class="card mb-3 mt-1 shadow-sm">
        <div class="card-body">
          <p class="card-text">
            <a href="/{{ author }}/">
              <strong class="d-block text-gray-dark">{{ author }}</strong>
            </a>
            {% for post in page %}
                {% include 'posts/post_item.html' with post=post %}
            {% endfor %}
    {% include 'posts/includes/paginator.html' %}
    {% include 'posts/includes/footer.html' %}
    </div>
  </div>
</main>
